body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
    color: black;
}

#chatapp {
    color: white;
    position: absolute
}

#loading-screen {
    background: white;
}

#game-screen {
    display: none;
    background: black;
}


.keys {
    margin-top: -16vh;
    position: absolute;
}

.keys img {
    width: 8vw;
}

#btn-fullscreen {
     margin-left: 2vw;   
}

#chat-input {
    width: 90vw;
    color: black;
}

#chat-send {
    width: 10vw;
    background: darkgray;
}

#loading {
    text-align: center;
    width: 98vw;
}