body {
    margin: 0;
    padding: 0;
}

#loading-screen pre {
    position: absolute;
    left: 25vw;
    background: white;
    color: black;
    font-size: 17px;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.2; 
    margin: 0;
    padding: 0;
}

#loading {
    margin: 0;
    padding: 0;
    text-align: center;
}


#game-screen {
    display: none;
    background: black;
}


#chat-app {
    color: white;
    position: absolute;
    font-size: 0.7em;
    display: none;
}

.chat-input {
    width: 50vw;
    display: inline-block;
    color: black;
}

#chat-textarea {
    /*width: 50vw;
    */
    background: rgba(255,255,224,0.7); 
    font-weight: bold;
    color: black;
    padding-left: 4px;
}

#chat-send {
    width: 10vw;
    background: darkgray;
}




